@import "../../based";

html.has-scroll-smooth {
    backface-visibility: hidden;
    transform: translateZ(0);
}

.local-scroll-container {
    perspective: 1px;
}

.scroll-locker {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: $cover-z;
}
