@import "../../../based";

#wave-divider {
    position: relative;
    width: 100%;
    height: 3rem;

    .wave {
        position: absolute;
        padding: calc(100% / 848 * 31);
        width: 100%;
        background-image: url("../../../assets/images/icon/wave.svg");
        z-index: 2;
    }

    .freighter {
        position: absolute;
        top: 0;
        left: 0;
        width: 3rem;
        height: 3rem;
        background-image: url("../../../assets/images/icon/freighter.svg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        z-index: 1;
    }
}
