.logo {
    padding-bottom: calc(100% / 400 * 120);
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% auto;

    &.remax {
        background-position: center bottom 10px;

        &.white {
            background-image: url("../../assets/images/logo/remax_white.png");
        }

        &.blue {
            background-image: url("../../assets/images/logo/remax_blue.png");
        }
    }

    &.martech {
        background-position: center bottom;

        &.white {
            background-image: url("../../assets/images/logo/martech_white.png");
        }

        &.blue {
            background-image: url("../../assets/images/logo/martech_blue.png");
        }
    }

    &.iso {
        width: 100px;
        height: 100px;
        padding-bottom: 0;
        border-radius: 50%;
        background-position: center center;
        background-size: 94%;
        background-color: #fff;
        background-image: url("../../assets/images/icon/ISO9001_45001_col_square.png");
    }
}
